<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add An Employee</h1>
      {{#each err}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}


      <form action="/employees/add" method="POST">
        <div class="input-group">
          <label for="title">Job title</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="eg. VP Sales, VP Marketing"
            maxlength="50" value={{jobTitle}}>
        </div>
        <div class="input-group">
          <label for="technologies">First Name</label>
          <input type="text" name="technologies" id="technologies" class="input-box" placeholder="First Name "
          maxlength="50" value={{firstName}}>
        </div>
        <div class="input-group">
          <label for="technologies">Last Name</label>
          <input type="text" name="technologies" id="technologies" class="input-box" placeholder="Last Name "
          maxlength="50" value={{lastName}}>
        </div>
        <div class="input-group">
          <label for="budget">Office Number</label>
          <input type="number" name="budget" id="budget" class="input-box" placeholder="eg. 1, 2, 3" value={{officeCode}}>
        </div>
        <div class="input-group">
          <label for="budget">Employee Number</label>
          <input type="number" name="budget" id="budget" class="input-box" placeholder="Employee Number" value={{employeeNumber}}>
        </div>
        <div class="input-group">
          <label for="budget">Supervisoer</label>
          <input type="number" name="budget" id="budget" class="input-box" placeholder="Supervisor's employee number" value={{reportsTo}}>
        </div>
        <div class="input-group">
          <label for="budget">Extension</label>
          <input type="tex" name="budget" id="budget" class="input-box" placeholder="Extension" value={{extension}}>
        </div>
        <div class="input-group">
          <label for="budget">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email v" 
          value={{email}}>
        </div>
        <input type="submit" value="Add Employee" class="btn btn-reverse">
      </form>
    </div>
  </section>