<section id="gigs" class="container">
    <form action="/products/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Enter a product name">
      <input type="submit" value="Search">
    </form>
</section>
<section id="gigs" class="container">
    <h1>All Products</h1>
    <a href="/addproducts" class="btn btn-reverse">Add Products</a>
    <br><br>
    {{#each products}}
        <div class="gig">
        <h1>{{productcode}}</h1>
        <h3>{{productName}}</h3>
        <p>{{productDescription}}</p>
        <ul>
            <li>In-stock: <br>{{quantityInStock}}</li>
            <li>Price: <br>${{buyPrice}} /ea</li>
            <li>Vendor:<br> {{productVendor}}</li>
            <li>Scale:<br>{{productScale}}</li>
            <li>Line:<br> {{productLine}}</li>

        </ul>
        <div class="tech">
            <small>MSRP: <span>{{MSRP}}</span></small>
        </div>
        </div>
    {{else}}
        <p>No products available.</p>
    {{/each}}


    
  </section>